{% extends "layouts/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
  <div  class="row">
    <div class="pt-5">
      <div class="col-lg-8">
        <h1>Thank you for shopping with us!</h1>
        <p>Your order was successful.</p>
        <p>you can view your order <a href="/orders">here</a> or <a href="/products/productView">Continue Shopping</a></p>
      </div>
    </div> 
  </div>
</div>


{% endblock %}