{% extends "layouts/base.html" %}
{% block title %}Manage Users | DON DON DONKI{% endblock %}

{% block content %}

{% if userUpdated %}
<div class="alert alert-warning alert-dismissible mt-2">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ userUpdated }}
</div>
{% endif %}


{% if userDeleted %}
<div class="alert alert-danger alert-dismissible mt-2">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ userDeleted }}
</div>
{% endif %}


<div class="row">
    <div class="pt-4 pl-5" align="left">
        <h4 class="p-3 bg-dark text-warning">MANAGE USERS</h4>
    </div>
</div>

<div class="p-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Full Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <td>{{ user.uuid }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.title }}</td>
        <td><a href="/manage/updateaccount/{{user.uuid}}" class="btn btn-warning">Update</a></td>
        <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{ user.uuid }}">
                Delete
            </button>
            <div class="modal" id="myModal_{{ user.uuid }}">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Are you sure you want to delete {{ user.name }}?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a href="/manage/deleteaccount/{{ user.uuid }}"><button type="button" class="btn btn-danger">Delete</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
