{% extends "layouts/base.html" %}
{% block title %}Change Password | DON DON DONKI{% endblock %}

{% block content %}
<br>
{% if accSuccess %}
<div class="alert alert-success alert-dismissible container-sm">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ accSuccess }}
</div>
{% elif accError %}
<div class="alert alert-danger alert-dismissible container-sm">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ accError }}
</div>
{% endif %}

<div class="container-sm" style="background-color: #EFEFEF; padding: 30px; line-height: 5px; border-radius: 5px">
    <h1 class="display-4">Reset Password</h1>
    <br>
    <br>
    <form method="POST" action="">
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input id="fullname" name="fullname" type="text" placeholder="Full Name" value="{{user.name}}" class="form-control" disabled>
        </div>
        <br>
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input id="new_password" name="new_password" type="password" placeholder="●●●●●●●●" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input id="confirm_password" name="confirm_password" type="password" placeholder="●●●●●●●●" class="form-control" required>
        </div>
        <br>
        <input type="submit" value="Submit" class="btn btn-primary"/>
        <hr>
        <a href="/user/editprofile"><p>Go back</p></a>
    </form>
</div>
{% endblock %}
